@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  background: var(--Black-08, #141414);
  font-family: Manrope, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body button {
  all: unset;
}
body ul {
  list-style: none;
}
body figure {
  all: unset;
}

.disabled {
  display: none;
}

.burger {
  display: none;
}

.header {
  display: flex;
  padding: 30px 162px;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .nav-list {
  display: flex;
  padding: 10px 40px 10px 10px;
  align-items: center;
  gap: 30px;
  position: absolute;
  left: 683px;
  top: 22px;
  border-radius: 12px;
  border: 4px solid var(--Black-12, #1f1f1f);
  background: var(--Black-06, #0f0f0f);
}
.header .navbar .nav-list .href-text {
  color: var(--Grey-75, #bfbfbf);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.header .navbar .nav-list .home {
  display: flex;
  padding: 14px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Black-10, #1a1a1a);
  background: var(--Black-10, #1a1a1a);
}
.header .navbar .nav-list .home p {
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.header .navbar .nav-list .list-item {
  list-style: none;
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header .navbar .nav-list .list-item:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}
.header .navbar .nav-list .list-item a {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.875rem 1.5rem;
  color: #fff;
  position: relative;
  line-height: 150%;
}
.header .navbar .buttons-container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .navbar .buttons-container .search-button .icon {
  width: 34px;
  height: 34px;
}
.header .logo {
  display: flex;
  width: 199px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  flex-shrink: 0;
}
.header .search-notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.875rem;
  margin: 10px 0;
  z-index: 1;
}
.header .search-notification .icon-search,
.header .search-notification .icon-notification {
  width: 2.1256rem;
  position: relative;
  height: 2.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: inline-block;
}
.header .results h2,
.header .results p,
.header .search-input {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content section {
  width: 1600px;
}

.movie-hero-movies-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -30px;
}

.movie-hero {
  display: flex;
  height: 52.1875rem;
  padding: 3.125rem 3.125rem 1.25rem 3.125rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  border: 1px solid #262626;
  background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%), url(<path-to-image>) lightgray 50%/cover no-repeat;
  background-image: url("../icons/avenger.png");
  background-size: cover;
  background-position: center;
}
.movie-hero .movie-hero__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.875rem;
  align-self: stretch;
}
.movie-hero .movie-hero__info .movie-hero-text {
  display: flex;
  padding: 0px 150px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}
.movie-hero .movie-hero__info .movie-hero-text .movie-hero__description {
  align-self: stretch;
  color: var(--Grey-60, #999);
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.movie-hero .movie-hero__info .movie-hero-text .movie-hero__title {
  align-self: stretch;
  color: var(--Absolute-White, #fff);
  text-align: center;
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.movie-hero__actions {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}
.movie-hero__actions .movie-hero__play-btn {
  display: flex;
  padding: 0.875rem 1.5rem;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background: var(--Red-45, #e50000);
}
.movie-hero__actions .movie-hero__play-btn .movie-hero__play-text {
  color: var(--Absolute-White, #fff);
  font-family: Manrope;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 153%;
}
.movie-hero__actions .movie-hero__play-btn .movie-hero__play-icon {
  width: 1.75rem;
  height: 1.75rem;
}

.movie-hero__secondary-actions {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}
.movie-hero__secondary-actions .movie-hero__action-btn {
  display: flex;
  padding: 0.875rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-06, #0f0f0f);
}

.movie-hero__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0.75rem;
}
.movie-hero__navigation .movie-hero__pagination {
  display: flex;
  width: 5.0625rem;
  align-items: flex-start;
  gap: 0.1875rem;
}
.movie-hero__navigation .movie-hero__pagination .pagination {
  height: 0.25rem;
  flex: 1 0 0;
  border-radius: 6.25rem;
  background: var(--Black-20, #333);
}
.movie-hero__navigation .movie-hero__pagination .red-pagination {
  border-radius: 6.25rem;
  background: var(--Red-45, #e50000);
  width: 1.4375rem;
  height: 0.25rem;
  flex-shrink: 0;
}
.movie-hero__navigation .movie-hero__nav-btn {
  display: flex;
  padding: 0.875rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Black-12, #1f1f1f);
  background: var(--Black-06, #0f0f0f);
}

.movie-hero-movies-container.movies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -30px;
  padding-top: 100px;
}
.movie-hero-movies-container.movies .sub-container-movies {
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.movie-hero-movies-container.movies .sub-container-movies .header-movies {
  display: flex;
  padding: 10px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Red-45, #E50000);
}
.movie-hero-movies-container.movies .sub-container-movies .header-movies .heading-nav {
  color: var(--Absolute-White, #FFF);
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--Black-15, #262626);
}
.movie-hero-movies-container.movies .main-container .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.movie-hero-movies-container.movies .main-container .container .sub-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.movie-hero-movies-container.movies .main-container .container .sub-container .heading {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container .sub-container .buttons-container {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid var(--Black-12, #1F1F1F);
  background: var(--Black-06, #0F0F0F);
}
.movie-hero-movies-container.movies .main-container .container .sub-container .buttons-container .button-icon {
  display: flex;
  padding: 14px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Black-12, #1F1F1F);
  background: var(--Black-10, #1A1A1A);
}
.movie-hero-movies-container.movies .main-container .container .sub-container .buttons-container .button-icon img {
  width: 28px;
  height: 28px;
}
.movie-hero-movies-container.movies .main-container .container .sub-container .buttons-container .indicators-container {
  display: flex;
  width: 81px;
  align-items: flex-start;
  gap: 3px;
}
.movie-hero-movies-container.movies .main-container .container .sub-container .buttons-container .indicators-container .shape {
  width: 23px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--Red-45, #E50000);
}
.movie-hero-movies-container.movies .main-container .container .sub-container .buttons-container .indicators-container .shape1 {
  height: 4px;
  flex: 1 0 0;
  border-radius: 100px;
  background: var(--Black-20, #333);
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card {
  display: flex;
  padding: 30px;
  flex-direction: column;
  height: 310px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-10, #1A1A1A);
  border: 2px solid red;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1 {
  display: flex;
  height: 252px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1 .image-container {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
  align-self: stretch;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1 .image-container1 {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
  align-self: stretch;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1 .fade-out-bottom {
  width: 237px;
  height: 252px;
  position: absolute;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 101.79%);
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--Grey-60, #999);
  font-size: 16px;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1-1 .sub-container2 {
  display: flex;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
  padding: 6px 10px 6px 6px;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1-1 .sub-container2 .text {
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1-1 .sub-container3 {
  display: flex;
  display: flex;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
  padding: 6px 10px 6px 6px;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1-1 .sub-container3 .text {
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1-1 .sub-container-season {
  display: flex;
  padding: 6px 10px 6px 6px;
  align-items: center;
  gap: 4px;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1-1 .sub-container-season img {
  width: 24px;
  height: 24px;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1-1 .sub-container-season .text {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container2 .heading1 {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container2 img {
  width: 30px;
  height: 30px;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container2 .sub-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container2 .sub-container2 .container3 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: var(--Red-45, #E50000);
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container2 .sub-container2 .container3 .text {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1_1 {
  display: flex;
  padding: 6px 10px 6px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .container1_1 .text {
  color: var(--Grey-60, #999);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .sub-container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .sub-container3 .sub-container2 {
  display: flex;
  padding: 6px 10px 6px 6px;
  align-items: center;
  gap: 2px;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .sub-container3 .sub-container2 img {
  width: 24px;
  height: 24px;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .sub-container3 .sub-container2 .text {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .sub-container3 .sub-container-rating {
  display: flex;
  padding: 6px 10px;
  align-items: center;
  gap: 4px;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .sub-container3 .sub-container-rating .rating {
  display: flex;
  align-items: flex-start;
  gap: 2px;
}
.movie-hero-movies-container.movies .main-container .container .sub-container1 .active .card .sub-container3 .sub-container-rating .text {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container:first-of-type .sub-container1 .active .card .container1 img {
  width: 103px;
  height: 120px;
}
.movie-hero-movies-container.movies .main-container .container:nth-of-type(2) .sub-container1 .active .card .container1 img {
  width: 140px;
  height: 120px;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.movies .main-container .container:nth-of-type(2) .sub-container1 .active .card .container1 .fade-out-bottom {
  width: 292px;
  height: 252px;
}
.movie-hero-movies-container.movies .main-container .container:nth-of-type(3) .sub-container1, .movie-hero-movies-container.movies .main-container .container:nth-of-type(4) .sub-container1 {
  gap: 20px;
}
.movie-hero-movies-container.movies .main-container .container:nth-of-type(3) .sub-container1 .active .card, .movie-hero-movies-container.movies .main-container .container:nth-of-type(4) .sub-container1 .active .card {
  padding: 15px 18px 25px;
}
.movie-hero-movies-container.movies .main-container .container:nth-of-type(3) .sub-container1 .active .card .image-container1 img, .movie-hero-movies-container.movies .main-container .container:nth-of-type(4) .sub-container1 .active .card .image-container1 img {
  width: 243px;
  height: 281px;
}
.movie-hero-movies-container.movies .main-container .container:nth-of-type(5) .sub-container1 {
  gap: 20px;
}
.movie-hero-movies-container.movies .main-container .container:nth-of-type(5) .sub-container1 .active .card {
  padding: 20px;
  height: auto;
  gap: 15px;
}
.movie-hero-movies-container.movies .main-container .container:nth-of-type(5) .sub-container1 .active .card .image-container img {
  width: 313px;
}

.movie-hero-movies-container.shows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -30px;
  padding-top: 100px;
}
.movie-hero-movies-container.shows .sub-container-movies {
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.movie-hero-movies-container.shows .sub-container-movies .header-movies {
  display: flex;
  padding: 10px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Red-45, #E50000);
}
.movie-hero-movies-container.shows .sub-container-movies .header-movies .heading-nav {
  color: var(--Absolute-White, #FFF);
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--Black-15, #262626);
}
.movie-hero-movies-container.shows .main-container .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.movie-hero-movies-container.shows .main-container .container .sub-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.movie-hero-movies-container.shows .main-container .container .sub-container .heading {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container .sub-container .buttons-container {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid var(--Black-12, #1F1F1F);
  background: var(--Black-06, #0F0F0F);
}
.movie-hero-movies-container.shows .main-container .container .sub-container .buttons-container .button-icon {
  display: flex;
  padding: 14px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Black-12, #1F1F1F);
  background: var(--Black-10, #1A1A1A);
}
.movie-hero-movies-container.shows .main-container .container .sub-container .buttons-container .button-icon img {
  width: 28px;
  height: 28px;
}
.movie-hero-movies-container.shows .main-container .container .sub-container .buttons-container .indicators-container {
  display: flex;
  width: 81px;
  align-items: flex-start;
  gap: 3px;
}
.movie-hero-movies-container.shows .main-container .container .sub-container .buttons-container .indicators-container .shape {
  width: 23px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--Red-45, #E50000);
}
.movie-hero-movies-container.shows .main-container .container .sub-container .buttons-container .indicators-container .shape1 {
  height: 4px;
  flex: 1 0 0;
  border-radius: 100px;
  background: var(--Black-20, #333);
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card {
  display: flex;
  padding: 30px;
  flex-direction: column;
  height: 310px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-10, #1A1A1A);
  border: 2px solid red;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1 {
  display: flex;
  height: 252px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1 .image-container {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
  align-self: stretch;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1 .image-container1 {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
  align-self: stretch;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1 .fade-out-bottom {
  width: 237px;
  height: 252px;
  position: absolute;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 101.79%);
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--Grey-60, #999);
  font-size: 16px;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1-1 .sub-container2 {
  display: flex;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
  padding: 6px 10px 6px 6px;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1-1 .sub-container2 .text {
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1-1 .sub-container3 {
  display: flex;
  display: flex;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
  padding: 6px 10px 6px 6px;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1-1 .sub-container3 .text {
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1-1 .sub-container-season {
  display: flex;
  padding: 6px 10px 6px 6px;
  align-items: center;
  gap: 4px;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1-1 .sub-container-season img {
  width: 24px;
  height: 24px;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1-1 .sub-container-season .text {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container2 .heading1 {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container2 img {
  width: 30px;
  height: 30px;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container2 .sub-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container2 .sub-container2 .container3 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: var(--Red-45, #E50000);
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container2 .sub-container2 .container3 .text {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1_1 {
  display: flex;
  padding: 6px 10px 6px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .container1_1 .text {
  color: var(--Grey-60, #999);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .sub-container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .sub-container3 .sub-container2 {
  display: flex;
  padding: 6px 10px 6px 6px;
  align-items: center;
  gap: 2px;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .sub-container3 .sub-container2 img {
  width: 24px;
  height: 24px;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .sub-container3 .sub-container2 .text {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .sub-container3 .sub-container-rating {
  display: flex;
  padding: 6px 10px;
  align-items: center;
  gap: 4px;
  border-radius: 51px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .sub-container3 .sub-container-rating .rating {
  display: flex;
  align-items: flex-start;
  gap: 2px;
}
.movie-hero-movies-container.shows .main-container .container .sub-container1 .active .card .sub-container3 .sub-container-rating .text {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container:first-of-type .sub-container1 .active .card .container1 img {
  width: 103px;
  height: 120px;
}
.movie-hero-movies-container.shows .main-container .container:nth-of-type(2) .sub-container1 .active .card .container1 img {
  width: 140px;
  height: 120px;
  padding: 0;
  margin: 0;
}
.movie-hero-movies-container.shows .main-container .container:nth-of-type(2) .sub-container1 .active .card .container1 .fade-out-bottom {
  width: 292px;
  height: 252px;
}
.movie-hero-movies-container.shows .main-container .container:nth-of-type(3) .sub-container1, .movie-hero-movies-container.shows .main-container .container:nth-of-type(4) .sub-container1 {
  gap: 20px;
}
.movie-hero-movies-container.shows .main-container .container:nth-of-type(3) .sub-container1 .active .card, .movie-hero-movies-container.shows .main-container .container:nth-of-type(4) .sub-container1 .active .card {
  height: auto;
  padding: 15px 18px 25px;
}
.movie-hero-movies-container.shows .main-container .container:nth-of-type(3) .sub-container1 .active .card .image-container1 img, .movie-hero-movies-container.shows .main-container .container:nth-of-type(4) .sub-container1 .active .card .image-container1 img {
  width: 320px;
  height: 350px;
}
.movie-hero-movies-container.shows .main-container .container:nth-of-type(3) .sub-container1 .active .card .image-container2 img, .movie-hero-movies-container.shows .main-container .container:nth-of-type(4) .sub-container1 .active .card .image-container2 img {
  width: 320px;
  height: 350px;
}
.movie-hero-movies-container.shows .main-container .container:nth-of-type(5) .sub-container1 {
  gap: 20px;
}
.movie-hero-movies-container.shows .main-container .container:nth-of-type(5) .sub-container1 .active .card {
  padding: 20px;
  height: auto;
  gap: 15px;
}
.movie-hero-movies-container.shows .main-container .container:nth-of-type(5) .sub-container1 .active .card .image-container img {
  width: 313px;
}

.cta-container {
  display: flex;
  border-radius: 12px;
  border: 1px solid #262626;
  background: var(--Black-06, #0F0F0F);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-items: center;
  margin: 100px 0;
}
.cta-container .cta-background {
  position: relative;
}
.cta-container .cta-background .fade-out-left {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 46.72%, rgba(229, 0, 0, 0) 168.98%);
  bottom: 25px;
}
.cta-container .cta-background .image-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.cta-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 450px;
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 80px;
}
.cta-content .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.cta-content .text-container .cta-title {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
.cta-content .text-container .cta-text {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

.primary-button {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Red-45, #E50000);
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

footer {
  display: flex;
  background: var(--Black-06, #0F0F0F);
  padding: 100px 162px 50px 162px;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-self: stretch;
}
footer .container .sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
footer .container .sub-container .links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
  padding: 0;
  margin: 0;
}
footer .container .sub-container .heading {
  align-self: stretch;
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}

.text-button {
  align-self: stretch;
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

.buttons-container {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
.buttons-container .button-icon {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-10, #1a1a1a);
  all: unset;
}
.buttons-container .button-icon img {
  width: 24px;
  height: 24px;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.container1 .line {
  width: 100%;
  height: 1px;
  background: #262626;
}
.container1 .container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.container1 .container2 .buttons-container1 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.container1 .container2 .buttons-container1 .text2 {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.container1 .container2 .text1 {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

.burger-wrapper {
  display: none;
}

@media (max-width: 1440px) {
  body {
    width: 1440px;
    overflow-x: hidden;
    padding: 0;
  }
  .header {
    width: 1440px;
    box-sizing: border-box;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .navbar {
    box-sizing: border-box;
    display: flex;
    width: 1439px;
    padding: 24px 80px;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .nav-list {
    position: static;
    width: 412px;
    height: 61px;
    padding: 8px 30px 8px 8px;
    gap: 16px;
    border-radius: 10px;
    border: 3px solid var(--Black-12, #1f1f1f);
    background: var(--Black-06, #0f0f0f);
  }
  .navbar .nav-list .href-text {
    width: 104px;
    height: 21px;
    color: var(--Grey-75, #bfbfbf);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .navbar .nav-list .home {
    width: 79px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    padding: 12px 20px;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--Black-10, #1a1a1a);
    background: var(--Black-10, #1a1a1a);
  }
  .navbar .nav-list .home .home-text {
    color: #fff;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 39px;
    height: 21px;
  }
  .navbar .buttons-container {
    gap: 14px;
    width: 62px;
    height: 24px;
    margin-right: 0;
  }
  .navbar .buttons-container .icon {
    width: 24px;
    height: 24px;
  }
  .navbar .search-notification {
    display: none;
  }
  .navbar footer {
    display: flex;
    width: 1440px;
    padding: 80px 80px 40px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    background: var(--Black-06, #0f0f0f);
  }
  .navbar .logo {
    width: 113.333px;
    height: 16.667px;
    flex-shrink: 0;
  }
  .movie-hero {
    display: flex;
    width: 1440px;
    margin-top: 100px;
    padding: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #262626;
    background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%), url("../icons/avenger.png") lightgray 50%/cover no-repeat;
  }
  .movie-hero .movie-hero__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .movie-hero .movie-hero__navigation .movie-hero__pagination {
    display: flex;
    width: 81px;
    align-items: flex-start;
    gap: 3px;
  }
  .movie-hero .movie-hero__navigation .movie-hero__nav-btn {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Black-12, #1f1f1f);
    background: var(--Black-06, #0f0f0f);
  }
  .movie-hero .movie-hero__navigation .movie-hero__nav-btn img {
    width: 24px;
    height: 24px;
  }
  .movie-hero .movie-hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  .movie-hero .movie-hero__content .movie-hero__info .movie-hero__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .movie-hero .movie-hero__content .movie-hero__info .movie-hero__actions .movie-hero__secondary-actions {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  .movie-hero .movie-hero__content .movie-hero__info .movie-hero__actions .movie-hero__secondary-actions .movie-hero__action-btn {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-06, #0f0f0f);
  }
  .movie-hero .movie-hero__content .movie-hero__info .movie-hero__actions .movie-hero__secondary-actions .movie-hero__action-btn img {
    width: 24px;
    height: 24px;
  }
  .movie-hero .movie-hero__content .movie-hero__info .movie-hero__actions .movie-hero__play-btn {
    display: flex;
    padding: 14px 20px;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: var(--Red-45, #e50000);
  }
  .movie-hero .movie-hero__content .movie-hero__info .movie-hero__actions .movie-hero__play-btn img {
    width: 24px;
    height: 24px;
  }
  .movie-hero .movie-hero__content .movie-hero__info .movie-hero__actions .movie-hero__play-btn .movie-hero__play-text {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 153%;
  }
  .movie-hero .movie-hero__content .movie-hero__info .movie-hero-text {
    display: flex;
    padding: 0px 120px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    align-self: stretch;
  }
  .movie-hero .movie-hero__content .movie-hero__info .movie-hero-text .movie-hero__description {
    color: var(--Grey-60, #999);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .movie-hero .movie-hero__content .movie-hero__info .movie-hero-text .movie-hero__title {
    color: var(--Absolute-White, #fff);
    text-align: center;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .movie-hero-movies-container {
    display: flex;
    width: 1280px;
    flex-direction: column;
    align-items: flex-start;
    gap: -22px;
    margin-top: 100px;
  }
  .movie-hero-movies-container .main-container {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--Black-15, #262626);
  }
  .movie-hero-movies-container .main-container .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 {
    display: flex;
    align-items: flex-start;
    gap: 20-px;
    align-self: stretch;
    width: 1200px;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .container1-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .container1-1 .sub-container3 {
    display: flex;
    padding: 4px 8px 4px 4px;
    align-items: center;
    gap: 4px;
    border-radius: 51px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .container1-1 .sub-container3 img {
    width: 20px;
    height: 20px;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .container1-1 .sub-container3 .text {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .container1-1 .sub-container2 {
    display: flex;
    padding: 4px 8px 4px 4px;
    align-items: center;
    gap: 2px;
    border-radius: 51px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .container1-1 .sub-container2 img {
    width: 20px;
    height: 20px;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .container1-1 .sub-container2 .text {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-10, #1a1a1a);
    width: 224px;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .image-container2 img {
    width: 192px;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container1_1 {
    display: flex;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 51px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container1_1 .text {
    color: var(--Grey-60, #999);
    text-align: center;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--Grey-75, #bfbfbf);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .image-container1 img {
    width: 192px;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container1 .fade-out-bottom {
    width: 193px;
    height: 210px;
    position: absolute;
    left: -9px;
    top: -23px;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 101.79%);
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container1 .image-container {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container1 .image-container img {
    width: 86px;
    height: 91px;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container1 .image-container1 {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container1 .image-container1 img {
    width: 86px;
    height: 91px;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 176px;
    height: 24px;
    padding: 0;
    box-sizing: border-box;
    margin: 24px;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container2 .heading1 {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  .movie-hero-movies-container .main-container .container .sub-container1 .active .card .container2 img {
    width: 24px;
    height: 24px;
  }
  .movie-hero-movies-container .main-container .container .sub-container {
    display: flex;
    align-items: center;
    gap: 100px;
    align-self: stretch;
  }
  .movie-hero-movies-container .main-container .container .sub-container .buttons-container {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    border: 1px solid var(--Black-12, #1f1f1f);
    background: var(--Black-06, #0f0f0f);
    width: 205px;
  }
  .movie-hero-movies-container .main-container .container .sub-container .buttons-container .indicators-container {
    display: flex;
    width: 69px;
    align-items: flex-start;
    gap: 3px;
    height: 4px;
  }
  .movie-hero-movies-container .main-container .container .sub-container .buttons-container .button-icon {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    width: 44px;
    height: 44px;
    border: 1px solid var(--Black-12, #1f1f1f);
    background: var(--Black-10, #1a1a1a);
  }
  .movie-hero-movies-container .main-container .container .sub-container .buttons-container .button-icon img {
    width: 24px;
    height: 24px;
  }
  .movie-hero-movies-container .main-container .container .sub-container .heading {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .movie-hero-movies-container .sub-container-movies {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .movie-hero-movies-container .sub-container-movies .header-movies {
    display: flex;
    padding: 8px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--Red-45, #e50000);
  }
  .movie-hero-movies-container .sub-container-movies .header-movies h2 {
    color: var(--Absolute-White, #fff);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
}/*# sourceMappingURL=movies-shows-page.css.map */