@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Color+Emoji&display=swap");
@font-face {
  font-family: "Noto Color Emoji";
  src: url("fonts/NotoColorEmoji.ttf") format("truetype");
}
body {
  background: var(--Black-08, #141414);
  font-family: Manrope, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body button {
  all: unset;
}
body fieldset {
  all: unset;
}
body select,
body option {
  font-family: "Noto Color Emoji", sans-serif;
  color: white;
}

.disabled {
  display: none;
}

.burger {
  display: none;
}

.header {
  display: flex;
  padding: 30px 162px;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .nav-list {
  display: flex;
  padding: 10px 40px 10px 10px;
  align-items: center;
  gap: 30px;
  position: absolute;
  left: 683px;
  top: 22px;
  border-radius: 12px;
  border: 4px solid var(--Black-12, #1f1f1f);
  background: var(--Black-06, #0f0f0f);
}
.header .navbar .nav-list .href-text {
  color: var(--Grey-75, #bfbfbf);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.header .navbar .nav-list .home {
  display: flex;
  padding: 14px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Black-10, #1a1a1a);
  background: var(--Black-10, #1a1a1a);
}
.header .navbar .nav-list .home p {
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.header .navbar .nav-list .list-item {
  list-style: none;
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header .navbar .nav-list .list-item:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}
.header .navbar .nav-list .list-item a {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.875rem 1.5rem;
  color: #fff;
  position: relative;
  line-height: 150%;
}
.header .navbar .buttons-container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .navbar .buttons-container .search-button .icon {
  width: 34px;
  height: 34px;
}
.header .logo {
  display: flex;
  width: 199px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  flex-shrink: 0;
}
.header .search-notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.875rem;
  margin: 10px 0;
  z-index: 1;
}
.header .search-notification .icon-search,
.header .search-notification .icon-notification {
  width: 2.1256rem;
  position: relative;
  height: 2.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: inline-block;
}
.header .results h2,
.header .results p,
.header .search-input {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content section {
  width: 1600px;
}

.faq__column-burger {
  display: none;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.faq .faq__header {
  display: flex;
  align-items: flex-end;
  gap: 100px;
  align-self: stretch;
}
.faq .faq__header .faq__ask-button {
  display: flex;
  padding: 18px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--Red-45, #E50000);
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.faq .faq__header .faq__intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  flex: 1 0 0;
}
.faq .faq__header .faq__intro .faq__description {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.faq .faq__header .faq__intro .faq__title {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  align-self: stretch;
  padding: 0;
  margin: 0;
}
.faq .faq__container {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
}
.faq .faq__container .faq__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}
.faq .faq__container .faq__item--open {
  display: flex;
  padding: 34px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.faq .faq__container .faq__item--open .faq__question {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-12, #1F1F1F);
}
.faq .faq__container .faq__item--open .faq__question .faq__number {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.faq .faq__container .faq__item--open .faq__answer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}
.faq .faq__container .faq__item--open .faq__answer .faq__question-text {
  align-self: stretch;
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.faq .faq__container .faq__item--open .faq__answer p {
  align-self: stretch;
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.faq .faq__container .faq__item--open .faq__icon {
  width: 1.875rem;
  position: relative;
  height: 1.875rem;
  overflow: hidden;
  flex-shrink: 0;
}
.faq .faq__container .faq__divider {
  width: 758px;
  height: 1px;
  background: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, #E50000 16.67%, rgba(229, 0, 0, 0) 100%);
}
.faq .faq__container .faq__item {
  display: flex;
  padding: 30px 34px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.faq .faq__container .faq__item .faq__question {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-12, #1F1F1F);
}
.faq .faq__container .faq__item .faq__question .faq__number {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.faq .faq__container .faq__item .faq__question-text {
  flex: 1 0 0;
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.support-section {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  padding-bottom: 100px;
}
.support-section .first-containter .container-images {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 6px;
  border: 6px solid var(--Black-15, #262626);
  background: var(--Black-06, #0F0F0F);
}
.support-section .first-containter .container-images .images-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}
.support-section .support-header {
  display: flex;
  width: 533px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  flex-shrink: 0;
  align-self: stretch;
}
.support-section .support-header .support-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
.support-section .support-header .support-title .support-description {
  align-self: stretch;
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.support-section .support-header .support-title .support-heading {
  align-self: stretch;
  color: var(--Absolute-White, #fff);
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

.support-form .form-post {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-06, #0f0f0f);
  height: 650px;
}
.support-form .form-post .form-fieldset {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.support-form .form-post .form-fieldset .form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
.support-form .form-post .form-fieldset .form-header .input {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 77px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
  flex: 1 0 0;
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.support-form .form-post .form-fieldset .form-header .heading-form {
  align-self: stretch;
  color: var(--Absolute-White, #fff);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.support-form .form-post .form-fieldset .form-header .phone-group {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.support-form .form-post .form-fieldset .form-header .phone-group .country-code {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
}
.support-form .form-post .form-fieldset .form-header .phone-group .country-code .county-opt {
  width: 40px;
  height: 26px;
  border-radius: 2px;
  color: white;
}
.support-form .form-fieldset-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.support-form .form-fieldset-message .textarea {
  display: flex;
  height: 163px;
  padding: 20px;
  align-items: flex-start;
  gap: 77px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
  font-family: Manrope;
}
.support-form .form-fieldset-message .heading-Message {
  align-self: stretch;
  color: var(--Absolute-White, #fff);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.support-form .form-actions {
  display: flex;
  align-items: center;
  gap: 70px;
  align-self: stretch;
}
.support-form .form-actions .submit-button {
  display: flex;
  padding: 18px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--Red-45, #e50000);
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.support-form .form-actions .terms-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  flex: 1 0 0;
}
.support-form .form-actions .terms-checkbox .input {
  flex: 1 0 0;
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.cta-container {
  display: flex;
  border-radius: 12px;
  border: 1px solid #262626;
  background: var(--Black-06, #0F0F0F);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-items: center;
  margin: 100px 0;
}
.cta-container .cta-background {
  position: relative;
}
.cta-container .cta-background .fade-out-left {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 46.72%, rgba(229, 0, 0, 0) 168.98%);
  bottom: 25px;
}
.cta-container .cta-background .image-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.cta-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 450px;
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 80px;
}
.cta-content .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.cta-content .text-container .cta-title {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
.cta-content .text-container .cta-text {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

.primary-button {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Red-45, #E50000);
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

footer {
  display: flex;
  background: var(--Black-06, #0F0F0F);
  padding: 100px 162px 50px 162px;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-self: stretch;
}
footer .container .sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}
footer .container .sub-container .links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
  padding: 0;
  margin: 0;
}
footer .container .sub-container .heading {
  align-self: stretch;
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.text-button {
  align-self: stretch;
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

.buttons-container {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
.buttons-container .button-icon {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-10, #1a1a1a);
  all: unset;
}
.buttons-container .button-icon img {
  width: 24px;
  height: 24px;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.container1 .line {
  width: 100%;
  height: 1px;
  background: #262626;
}
.container1 .container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.container1 .container2 .buttons-container1 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.container1 .container2 .buttons-container1 .text2 {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.container1 .container2 .text1 {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

.burger-wrapper {
  display: none;
}

@media (max-width: 1440px) {
  body {
    overflow-x: hidden;
  }
  .burger-wrapper {
    display: none;
  }
  .header .navbar {
    box-sizing: border-box;
    display: flex;
    width: 1439px;
    padding: 24px 80px;
    justify-content: space-between;
    align-items: center;
  }
  .header .navbar .nav-list {
    position: static;
    width: 412px;
    height: 61px;
    padding: 8px 30px 8px 8px;
    gap: 16px;
    border-radius: 10px;
    border: 3px solid var(--Black-12, #1f1f1f);
    background: var(--Black-06, #0f0f0f);
  }
  .header .navbar .nav-list .href-text {
    width: 104px;
    height: 21px;
    color: var(--Grey-75, #bfbfbf);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .header .navbar .nav-list .home {
    width: 79px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    padding: 12px 20px;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--Black-10, #1a1a1a);
    background: var(--Black-10, #1a1a1a);
  }
  .header .navbar .nav-list .home .home-text {
    color: #fff;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 39px;
    height: 21px;
  }
  .header .navbar .buttons-container {
    gap: 14px;
    width: 62px;
    height: 24px;
    margin-right: 0;
  }
  .header .navbar .buttons-container .icon {
    width: 24px;
    height: 24px;
  }
  .header .navbar .search-notification {
    display: none;
  }
  .header .navbar .logo {
    width: 113.333px;
    height: 16.667px;
    flex-shrink: 0;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .main-content section {
    width: 1280px;
  }
  .cta-container {
    width: 1280px;
    overflow: hidden;
  }
  .cta-container .cta-background {
    position: relative;
    width: 1280px;
  }
  .cta-container .cta-background .fade-out-left {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 46.72%, rgba(229, 0, 0, 0) 168.98%);
    bottom: 25px;
  }
  .cta-container .cta-background .image-container {
    display: block;
    align-items: flex-start;
    gap: 0px !important;
    width: 1280px;
    overflow: hidden;
  }
  .cta-container .cta-background .image-container img {
    width: 1280px;
  }
  .cta-content {
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 450px;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 80px;
  }
  .cta-content .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }
  .cta-content .text-container .cta-title {
    color: var(--Absolute-White, #FFF);
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .cta-content .text-container .cta-text {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .primary-button {
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Red-45, #E50000);
    color: var(--Absolute-White, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    width: 200px;
  }
  footer {
    display: flex;
    background: var(--Black-06, #0F0F0F);
    padding: 100px 162px 50px 162px;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
  }
  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    align-self: stretch;
  }
  footer .container .sub-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  footer .container .sub-container .links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
    padding: 0;
  }
  footer .container .sub-container .heading {
    align-self: stretch;
    color: var(--Absolute-White, #FFF);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  .text-button {
    align-self: stretch;
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .buttons-container {
    display: flex;
    align-items: flex-start;
    gap: 14px;
  }
  .buttons-container .button-icon {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-10, #1a1a1a);
    all: unset;
  }
  .buttons-container .button-icon img {
    width: 24px;
    height: 24px;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
  .container1 .line {
    width: 100%;
    height: 1px;
    background: #262626;
  }
  .container1 .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .container1 .container2 .buttons-container1 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .container1 .container2 .buttons-container1 .text2 {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .container1 .container2 .text1 {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .faq .faq__container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
  }
  .faq .faq__container .faq__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    width: 600px;
  }
  .faq .faq__container .faq__column .faq__divider {
    width: 620px;
    height: 2px;
    background: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, #e50000 16.67%, rgba(229, 0, 0, 0) 100%);
  }
  .faq .faq__container .faq__column .faq__item {
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  .faq .faq__container .faq__column .faq__item .faq__question {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-12, #1f1f1f);
  }
  .faq .faq__container .faq__column .faq__item .faq__question .faq__number {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .faq .faq__container .faq__column .faq__item .faq__question .faq__icon {
    width: 24px;
    height: 24px;
  }
  .faq .faq__container .faq__column .faq__item--open {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }
  .faq .faq__container .faq__column .faq__item--open .faq__answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    flex: 1 0 0;
    align-self: stretch;
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .faq .faq__container .faq__column .faq__item--open .faq__answer .faq__question-text {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .faq .faq__container .faq__column .faq__item--open .faq__icon {
    width: 24px;
    height: 24px;
  }
  .faq .faq__container .faq__column .faq__item--open .faq__question {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-12, #1f1f1f);
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .faq .faq__header {
    display: flex;
    align-items: flex-end;
    gap: 80px;
    align-self: stretch;
  }
  .faq .faq__header .faq__ask-button {
    display: flex;
    padding: 14px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: var(--Red-45, #e50000);
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  .faq .faq__header .faq__intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
  }
  .faq .faq__header .faq__intro .faq__title {
    align-self: stretch;
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 0;
    margin: 0;
  }
  .faq .faq__header .faq__intro .faq__description {
    align-self: stretch;
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 0;
    margin: 0;
  }
  .support-section {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    justify-content: normal;
    align-items: center;
  }
  .support-section .support-header {
    display: flex;
    width: 429px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    align-self: stretch;
  }
  .support-section .support-header .support-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .support-section .support-header .support-title .support-heading {
    align-self: stretch;
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .support-section .support-header .support-title .support-description {
    align-self: stretch;
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .support-section .support-header .first-containter .container-images {
    display: block;
    border-radius: 4px;
    border: 6px solid var(--Black-15, #262626);
    background: var(--Black-06, #0f0f0f);
    width: 420px;
  }
  .support-section .support-header .first-containter .container-images .images-container {
    display: flex;
    gap: 25px;
    overflow: hidden;
  }
  .support-section .support-header .first-containter .container-images .images-container img {
    height: 22%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .support-form .form-post {
    width: 800px;
    height: auto;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-06, #0f0f0f);
    box-sizing: border-box;
  }
  .support-form .form-post .form-actions {
    display: flex;
    align-items: center;
    gap: 70px;
    align-self: stretch;
  }
  .support-form .form-post .form-actions .submit-button {
    display: flex;
    padding: 14px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: var(--Red-45, #e50000);
    color: #fff;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  .support-form .form-post .form-fieldset-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }
  .support-form .form-post .form-fieldset-message .heading-Message {
    align-self: stretch;
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  .support-form .form-post .form-fieldset-message .textarea {
    display: flex;
    height: 129px;
    padding: 16px;
    align-items: flex-start;
    gap: 77px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
  }
  .support-form .form-post .form-fieldset {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .support-form .form-post .form-fieldset .form-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
  }
  .support-form .form-post .form-fieldset .form-header .heading-form {
    align-self: stretch;
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  .support-form .form-post .form-fieldset .form-header .phone-group {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
  }
  .support-form .form-post .form-fieldset .form-header .phone-group .country-select {
    display: flex;
    padding: 0px 8px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
    color: white;
  }
  .support-form .form-post .form-fieldset .form-header .phone-group .country-select option {
    color: yellow;
  }
  .support-form .form-post .form-fieldset .form-header .input {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 77px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
    flex: 1 0 0;
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
.faq__column-burger {
  display: none;
}

@media (max-width: 390px) {
  body {
    overflow-x: hidden;
  }
  .header {
    display: flex;
    padding: 40px 16px 14px 16px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .header .burger-wrapper {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    border: 3px solid var(--Black-15, #262626);
    background: var(--Black-10, #1A1A1A);
  }
  .header .burger-wrapper .burger {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
    z-index: 2;
  }
  .header .burger-wrapper .burger-icon {
    width: 24px;
    height: 24px;
  }
  .header .logo {
    display: flex;
    width: 116.083px;
    justify-content: center;
    align-items: center;
    gap: 1.75px;
    flex-shrink: 0;
  }
  .navbar {
    display: none !important;
    overflow: hidden;
  }
  .burger:checked ~ .navbar {
    display: flex;
  }
  .footer {
    overflow: hidden;
    width: 390px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
  }
  .main-content section {
    width: 360px;
  }
  .support-section {
    display: flex;
    width: 357px;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
  }
  .support-section .support-header {
    display: flex;
    height: 510px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .support-section .support-header .support-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    width: 357px;
  }
  .support-section .support-header .support-title .support-heading {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .support-section .support-header .support-title .support-description {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .support-section .support-header .first-containter {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    width: 357px;
  }
  .support-section .support-header .first-containter .container-images {
    display: block;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
    width: 449px;
  }
  .support-section .support-header .first-containter .container-images .images-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .support-section .support-header .first-containter .container-images .images-container img {
    width: 357px;
  }
  .support-section .support-form .form-post {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 357px;
  }
  .support-section .support-form .form-post .form-fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
  }
  .support-section .support-form .form-post .form-fieldset .form-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    width: 309px;
  }
  .support-section .support-form .form-post .form-fieldset .form-header .phone-group {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
  }
  .support-section .support-form .form-post .form-fieldset .form-header .phone-group .input {
    display: flex;
    padding: 0;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    gap: 77px;
    flex: 1 0 0;
    width: 221px;
    height: 53px;
  }
  .support-section .support-form .form-post .form-fieldset-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border: none;
    padding: 0;
  }
  .support-section .support-form .form-post .form-fieldset-message .textarea {
    display: flex;
    height: 109px;
    padding: 16px;
    align-items: flex-start;
    gap: 77px;
    align-self: stretch;
  }
  .support-section .support-form .form-post .form-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .support-section .support-form .form-post .form-actions .terms-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .support-section .support-form .form-post .form-actions .submit-button {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  .faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    padding-top: 50px;
  }
  .faq .faq__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .faq .faq__header .faq__intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .faq .faq__header .faq__intro .faq__title {
    align-self: stretch;
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .faq .faq__header .faq__intro .faq__description {
    align-self: stretch;
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .faq .faq__container .faq__column {
    display: none;
  }
  .faq .faq__container .faq__column-burger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 360px;
  }
  .faq .faq__container .faq__column-burger .faq__item--open {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  .faq .faq__container .faq__column-burger .faq__item--open img {
    width: 24px;
    height: 24px;
  }
  .faq .faq__container .faq__column-burger .faq__item--open p {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .faq .faq__container .faq__column-burger .faq__item--open .faq__question {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-12, #1f1f1f);
  }
  .faq .faq__container .faq__column-burger .faq__item--open .faq__question .faq__number {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .faq .faq__container .faq__column-burger .faq__item--open .faq__question-text {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .faq .faq__container .faq__column-burger .faq__divider {
    width: 360px;
    height: 3px;
  }
  .faq .faq__container .faq__item {
    display: flex;
    padding: 20px 10px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    padding: 0;
    margin: 0;
  }
  .faq .faq__container .faq__item .faq__question {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .faq .faq__container .faq__item .faq__question .faq__number {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .faq .faq__container .faq__item .faq__question-text {
    flex: 1 0 0;
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .cta-container {
    width: 360px;
    height: 340px;
  }
  .cta-container .cta-background {
    position: relative;
    width: 360px;
  }
  .cta-container .cta-background .fade-out-left {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 46.72%, rgba(229, 0, 0, 0) 168.98%);
    bottom: 25px;
  }
  .cta-container .cta-background .image-container {
    display: block;
    align-items: flex-start;
    gap: 0px !important;
    width: 360px;
    overflow: hidden;
  }
  .cta-container .cta-background .image-container img {
    height: 100px;
  }
  .cta-content {
    width: 360px;
    height: 330px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }
  .cta-content .text-container {
    display: flex;
    padding-bottom: 30px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
  .cta-content .text-container .cta-title {
    color: var(--Absolute-White, #FFF);
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }
  .cta-content .text-container .cta-text {
    color: var(--Grey-60, #999);
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
  .primary-button {
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Red-45, #E50000);
    color: var(--Absolute-White, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  .footer {
    display: flex;
    width: 390px;
    padding: 50px 0 20px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  .footer .container {
    width: 358px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 70px;
    justify-content: center;
    align-items: center;
  }
  .footer .container .sub-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
  }
  .footer .container .sub-container .buttons-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  .footer .container .sub-container .buttons-container .button-icon {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    width: 20px;
    height: 20px;
  }
  .footer .container .sub-container .heading {
    color: var(--Absolute-White, #fff);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    justify-content: center;
    align-items: center;
  }
  .footer .container .sub-container .links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding: 0;
    margin: 0;
  }
  .footer .container .sub-container .links-container li .text-button {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .footer .container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .footer .container1 .line {
    height: 1px;
  }
  .footer .container1 .container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .footer .container1 .container2 .text1 {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .footer .container1 .container2 .buttons-container1 {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  .footer .container1 .container2 .buttons-container1 .text2 {
    color: var(--Grey-60, #999);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}/*# sourceMappingURL=support-page.css.map */